*, html {
    font-family: "Roboto Slab", serif;
    margin: 0 0 0;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    background-color: #ffffff;
    height: 70px;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
}

header nav .nama {
    font-size: 1em;
}

header nav .nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav .nav-bar .gambar {
    margin-left: 20px;
}

header nav .nav-bar .menu ul{
    display: inline;
    align-self: center;
}

header nav .nav-bar .menu ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}

header nav .nav-bar .menu ul li a {
    text-decoration: none;
    color: black;
}

header nav .nav-bar .menu ul li .page-now {
    color: red;
}

header nav .nav-bar .menu ul li a:hover {
    color: red;
    border-bottom: 2px solid red;
    transition: 0.5s;
}

main {
    padding-top: 70px;
}

main .judul{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: red;
}

main .wrap-content{
    display: flex;
    padding: 50px;
    justify-content: center;
}

main .wrap-content .foto{
    background-color: red;
    border-radius: 10%;
    margin-right: 40px;
}

main .wrap-content .foto img{
    border-radius: 10%;
    transform: rotate(5deg);
}

main .wrap-content .foto img:hover{
    transform: rotate(0deg);
    transition: 1s;
}

main .wrap-content .isi{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

main .wrap-content .isi .judul-isi h2, 
main .wrap-content .isi .judul-isi h3{
    margin-bottom: 10px;
}

main .wrap-content .isi .desc-isi{
    margin-bottom: 20px;
    border-bottom: 5px solid black;
}

main .wrap-content .isi .desc-isi p{
    margin-bottom: 40px;
}

main .wrap-content .isi .card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

main .wrap-content .isi .card-info{
    border-top: 1px solid red; 
    border-left: 1px solid red; 
    border-right: 1px solid red; 
    border-bottom: 4px solid red;
    background-color: white;
    border-radius: 5px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 200px;
}

main .wrap-content .isi .card-info:hover{
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.5);
}

main .wrap-content .isi .card-info h1{
    font-size: 1em;
    margin-bottom: 10px;
}

main .wrap-content .isi .card-info p{
    text-align: center;
    font-size: 1em;
    margin-top: 5px;
}

footer{
    display: flex;
    justify-content: center;
    height: 30px;
    align-items: center;
    font-size: 1.2em;
}